body{
    margin: 0;
    background-color: #1a271c;

}

html{
    box-sizing: border-box;
}
/*---------------------------------- MAIN ----------------------------------*/

.main{
    display: flex;
    padding: 0 120px;

    background-image: url('img/backgr.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex-direction: column;
}

.main h1{
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 100pt;
    text-align: right;

    margin: 150px 0 auto auto;
}

.main .scroll-block{
    display: flex;
    flex-direction: column;
    align-self: center;
    cursor: pointer;
}

.main .scroll-block p{
    margin: 0 0 20px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    opacity: 0.8;
    text-transform: uppercase;
}

/*---------------------------------- MOVIES ----------------------------------*/

.movies{
    display: flex;
    flex-direction: column;

    padding: 0 120px;
    height: 100vh;

    /* transition: background 1.5s;     */
}

.movies h2{
    color: white;

    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 50pt;
    text-transform: uppercase;

    margin: 100px 0 150px;
}

.movies .grid{
    display: grid;
    /* grid-template-rows: auto;  */
    /* grid-template-columns: auto auto auto auto auto;  */
    
    height: fit-content;
}

.movies p{
    opacity: 0;

    position: absolute;

    transition: 1.5s;
    transform: translateY(0);

    margin: 0;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
}

.card{
    display: flex;
    /* max-height: calc(382px * 0.8); */
    /* scale: 1; */

    transition: 1.5s;
}


.card:hover p{
    opacity: 1;
    transition: 0.5s;
    transform: translateY(-50px);
}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
    z-index: 2;
}
.card:hover img{
    box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.2);
}




















@media screen and (min-width: 768px) and (max-width: 1023px){
    h1{
        margin-top: 50vh;
    }
    .grid{
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(2, auto);
        justify-content: space-between;
        row-gap: 50px;
    }
    .card:nth-child(1) { grid-area: 1 / 1 / 2 / 3; }
    .card:nth-child(2) { grid-area: 1 / 3 / 2 / 5; }
    .card:nth-child(3) { grid-area: 1 / 5 / 2 / 7; }
    .card:nth-child(4) { grid-area: 2 / 2 / 3 / 4; }
    .card:nth-child(5) { grid-area: 2 / 4 / 3 / 6; }
    .movies h2{
        margin-bottom: 100px;
    }
    .main h1{
        font-size: 55pt;
    }
    .card{
        justify-content: center;
        align-items: center;
        height: 200px;
        grid-column: span 2;
    }
    .card p{
        z-index: -1;
        font-size: 14px;
        transform: translateY(-50px);
    } 
    .card img{
        height: 200px;
    }
    .card:hover p{
        opacity: 1;
        transition: 0.5s;
        transform: translateY(-120px);
    }
}



@media screen and (min-width: 1024px) and (max-width:1439px){
    .grid{
        grid-template-columns: repeat(5, auto);
        justify-content: space-between;
    }
    .movies h2{
        margin-bottom: 150px;
    }
    .main h1{
        font-size: 55pt;
    }
    .card{
        align-items: center;
        height: 160px;
    }
    .card p{
        /* align-self: start; */
        font-size: 14px;
        transform: translateY(-50px);
    } 
    .card img{
        height: 160px;
    }
    .card:hover p{
        opacity: 1;
        transition: 1.5s;
        transform: translateY(-120px);
    }
}

@media screen and (min-width: 1440px){
    .grid{
        grid-template-columns: repeat(5, auto);
        justify-content: space-between;
    }
    .card{
        align-items: center;
        height: 280px;
    }
    .card p{
        align-self: start;
        font-size: 18px;
        transform: translateY(0);
    } 
    .card img{
        height: 280px;
    }
    .card:hover p{
        opacity: 1;
        transition: 1.5s;
        transform: translateY(-50px);
    }
}

@media screen and (min-width: 1660px){
    .grid{
        grid-template-columns: repeat(5, auto);
        justify-content: space-between;
    }
    .card img{
        height: 100%;
    }
    .card p{
        transform: translateY(0);
    }
    .card:hover p{
        opacity: 1;
        transition: 1.5s;
        transform: translateY(-50px);
    }
}