body{
    margin: 0;
    background-color: #1a271c;

}

:root{
    hover_time: 3s;
}

/*---------------------------------- MAIN ----------------------------------*/

.main{
    display: flex;
    padding: 0 200px 0 200px;

    background-image: url('/img/backgr.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex-direction: column;
}

.main h1{
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 100pt;
    text-align: right;

    margin: 15vh 0 auto auto;
}

.main .scroll-block{
    display: flex;
    flex-direction: column;
    align-self: center;
    cursor: pointer;
}

.main .scroll-block p{
    margin: 0 0 20px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    opacity: 0.8;
    text-transform: uppercase;
}

/*---------------------------------- MOVIES ----------------------------------*/

.movies{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 200px 0 200px;
    height: 100vh;

    background-color: #1a271c;    
}

.movies h2{
    color: white;

    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;

    margin-top: 100px;
}

.movies .grid{
    display: grid;

    height: fit-content;
    width: 100%;
    grid-template-rows: 423px;
    grid-template-columns: auto auto auto auto auto; 

    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 200px;
}

.movies p{
    opacity: 0;
    transition: 1.5s;
    margin: 0;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.card:hover p{
    opacity: 1;
    transition: 1.5s;
}