body{
    margin: 0;
    background-color: #1a271c;

}
/*---------------------------------- MAIN ----------------------------------*/

.main{
    display: flex;
    padding: 0 200px 0 200px;

    background-image: url('img/backgr.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex-direction: column;
}

.main h1{
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 100pt;
    text-align: right;

    margin: 15vh 0 auto auto;
}

.main .scroll-block{
    display: flex;
    flex-direction: column;
    align-self: center;
    cursor: pointer;
}

.main .scroll-block p{
    margin: 0 0 20px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    opacity: 0.8;
    text-transform: uppercase;
}

/*---------------------------------- MOVIES ----------------------------------*/

.movies{
    transition: background-image 1.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 200px 0 200px;
    height: 100vh;

    /* background: #1a271c; */
    transition: background 1.5s;    
    /* background: linear-gradient(90deg, rgba(26,39,28,1) 0%, rgba(26,39,28,0.7) 100%); */
}

.movies h2{
    color: white;

    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 50pt;
    text-transform: uppercase;

    margin-top: 150px;
}

.movies .grid{
    display: grid;

    height: fit-content;
    width: 100%;
    grid-template-rows: 423px;
    grid-template-columns: auto auto auto auto auto; 

    justify-content: space-around;
    /* align-items: flex-end; */
    margin-bottom: 200px;
}

.movies p{
    opacity: 0;

    position: absolute;

    transition: 1.5s;
    transform: translateY(0);

    margin: 0;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    width: fit-content;
    justify-content: space-between;
    align-self: flex-end;
    scale: 0.8;

    transition: 1.5s;
}


.card:hover p{
    opacity: 1;
    transition: 1.5s;
    transform: translateY(+50px);
}

.card:hover{
    transform: scale(1.1);
    transition: 1.5s;

    box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.2);
}



